<footer
  class="mt-16 text-slate-600 text-xs font-thin text-center space-y-2 tracking-tighter"
>
  <p>Double-click to edit a todo</p>
  <p>
    Created by
    <a
      class="text-gray-600 font-light hover:underline"
      href="https://adamjacobus.dev/"
      target="_blank"
      rel="noreferrer"
      >Adam Jacobus</a
    >
  </p>
  <p>
    Built using
    <a
      class="text-gray-600 font-light hover:underline"
      href="https://nestjs.com/"
      target="_blank"
      rel="noreferrer"
      >NestJS</a
    >,
    <a
      class="text-gray-600 font-light hover:underline"
      href="https://htmx.org/"
      target="_blank"
      rel="noreferrer"
      >HTMX</a
    >, and
    <a
      class="text-gray-600 font-light hover:underline"
      href="https://alpinejs.dev/"
      target="_blank"
      rel="noreferrer"
      >AlpineJS</a
    >
  </p>
</footer>
